/login.php
/koneksi.php
/proses_login.php
/.htaccess
/KepalaIT
/assets/img_profile

/KlinikNusantara/Admin/view/koneksi.php
/KlinikNusantara/Admin/view/logout.php
/KlinikNusantara/Admin/proses/koneksi.php
/KlinikNusantara/Admin/proses/logout.php
/KlinikNusantara/Admin/file_admin

/KlinikNusantara/Kasir/view/koneksi.php
/KlinikNusantara/Kasir/view/logout.php
/KlinikNusantara/Kasir/proses/koneksi.php
/KlinikNusantara/Kasir/proses/logout.php
/KlinikNusantara/Kasir/file_kasir

/KlinikNusantara/Dokter/view/koneksi.php
/KlinikNusantara/Dokter/view/logout.php
/KlinikNusantara/Dokter/proses/koneksi.php
/KlinikNusantara/Dokter/proses/logout.php
/KlinikNusantara/Dokter/file_dokter

/KlinikNusantara/Perawat/view/koneksi.php
/KlinikNusantara/Perawat/view/logout.php
/KlinikNusantara/Perawat/proses/koneksi.php
/KlinikNusantara/Perawat/proses/logout.php

/KlinikNusantara/Manager/view/koneksi.php
/KlinikNusantara/Manager/view/logout.php
/KlinikNusantara/Manager/view/RincianLR/koneksi.php
/KlinikNusantara/Manager/view/RincianLR/logout.php


