/login.php
/koneksi.php
/proses_login.php
/.htaccess
/KepalaIT
/assets/img_profile

/KlinikNusantara/Admin/view/koneksi.php
/KlinikNusantara/Admin/view/logout.php
/KlinikNusantara/Admin/proses/koneksi.php
/KlinikNusantara/Admin/proses/logout.php
/KlinikNusantara/Admin/file_admin

/KlinikNusantara/Kasir/view/koneksi.php
/KlinikNusantara/Kasir/view/logout.php
/KlinikNusantara/Kasir/proses/koneksi.php
/KlinikNusantara/Kasir/proses/logout.php
/KlinikNusantara/Kasir/file_kasir


